html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  color: #fff;
  font-size: 1.125rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 6rem .1rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  grid-template-areas:
    "col1"
    "col2"
    "col3";
  grid-gap: 6vmin;
  padding: 6vmin;
  background-color: #ff9500;
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

h2 {
  font-size: 2rem;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0 1rem;
}

h3 {
  font-size: 1.5rem;
  margin: 0 0 1.5rem;
}

article p {
  margin: 0 0 auto;
}

article a {
  color: #fff;
  text-decoration: none;
  border: .2rem solid rgba(255, 255, 255, .7);
  border-radius: .3rem;
  margin: 1.5rem 0 0;
  font-size: 1.125rem;
}

a:hover,
a:focus {
  background-color: white;
  border-color: white;
  color: #ff5e3a;
}

.icon {
  position: relative;
  height: 8em;
  width: 8em;
  margin: 0 0 1.5rem;
}

.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: #fff;
}

@media only screen and (min-width: 38em) {

  section {
    grid-template-areas:
      "col1 col2 col3";
  }

}
