html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Overpass", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem .5rem;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 0 0 1.5rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 1.5rem;
}

h2 span {
  font-size: 1rem;
}

article p {
  margin: 0 0 1.5rem;
}

article a {
  color: #fff;
  text-decoration: none;
  border: .2rem solid rgba(255, 255, 255, .7);
  border-radius: .3rem;
  margin: auto 0 0;
  padding: .5em 1em .6em;
}

h1 {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 1rem;
}

h1 span {
  font-size: 1.25rem;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff5e3a;
}

a:hover,
a:focus {
  color: #ff9500;
}

.icon {
  position: relative;
  height: 8em;
  width: 8em;
}

.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: #fff;
}

@media only screen and (min-width: 38em) {

  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    align-items: flex-start;
  }

  section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

}
